/* 
@media only screen and (min-width:1268px)  {
.line{
  width:84em;

  height: 1.5em;
  background-color: rgb(244,179,74) !important;
  .resleft{
    .logo{
      width:10em;
    }
  }
}

}


@media only screen and (max-width:700px) {
  .line{
  width:3em;

    height: 1.5em;
    
    background-color:skyblue  !important;
    .resleft{
      .logo{
        width:1em;
      }
    }
  }
  
  }
  
    
    
  
   */