.footter{
    background-color: rgb(244,179,74);
    width:100%;
    height:25vh;
    margin-top: 2em;
    .inside{
        .privacy{
            color:white;
            margin-left: 9em;
        }
        .copy{
            color:rgb(187, 166, 133);
            margin-left: 9em;
        }
    }
    .icons{
        position: absolute;
        top:44.5em;
        right:2em;
        font-size: 2em;
        display: flex;
        color: white;
        justify-content: space-evenly;
        margin-right: 3em;
        column-gap: 1em;
    }
  }
  .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .plays{
        width:10em;
        position: absolute;
        bottom:-60em;
        right:12em;
    }
   
  }

  .followcomp{
    display: grid;
     grid-template-columns: repeat(2,1fr);
    gap:3em;
    .card-pic{
        // background-color: rgb(); 
        p{
            color:white;
        }
    }
    .compname{
        font-size: 1.24em;
         margin-left: 5em;
          margin-top: -4.5em;
           height: 3.5em; 
    }
    .comploc{
        margin-left: 6.5em;
         margin-top: -2.2em;
          color: gray;
    }
    .viewcomp{
        margin-left: 19em;
         margin-top: 1.5em; 
    }
    .link{
        color: black;
         text-decoration: solid;
    }
    .card{
        width: 30em;
    }
  }
  .ifolowinp{
    width: 95%;
  }