
.about{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border: 1px solid #dee2e6;       
        border-radius: 0.25rem;
        width:70em;
        padding: 1em;
        margin-left: 5em;
}

.home{
position: absolute;
top:26.5em;
left:6em;

}

.footer{
  background-color: rgb(244,179,74);
  width:100%;
  height:25vh;
  position: relative;
  top: 0em;
  left:0em;
  .inside{
      .privacy{
          color:white;
          margin-left: 9em;
      }
      .copy{
          color:rgb(187, 166, 133);
          margin-left: 9em;
      }
  }
  .icons{
      position: absolute;
      top:0.5em;
      right:1em;
      font-size: 2em;
      display: flex;
      color: black;
      justify-content: space-evenly;
      // margin-right: 2em;
      // margin-top: -32em;
      column-gap: 1em;
  }
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .play{
      width:10em;
      position: absolute;
      right: 9em;
      top:4em;
    // margin-right: -1em;
    // margin-top: -64em;
  }
 
}